mat-form-field {
  width: 100%;
}

.login-card {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.login-card-content {
  width: 100%;
  button {
    width: 100%;
  }
}

.login-card-top {
  margin-bottom: 2rem;
}

.login-card-bottom {
  margin-top: 2rem;
  h4 {
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .login-card {
    width: 500px;
  }
}
